<footer class="stripe stripe-dark" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <strong>openf1</strong>
        <p>
          <a href="#">About</a>
          <br />
          <a href="#">Roadmap</a>
          <br />
          <a href="#">Blog</a>
        </p>
      </div>
      <div class="col-md-3">
        <strong><a href="/docs" style="color: inherit">Documentation</a></strong>
        <p>
          <a href="#">Getting started</a>
          <br />
          <a href="#">GraphQL and integration</a>
        </p>
      </div>
      <div class="col-md-3">
        <strong><a href="/support" style="color: inherit">Help &amp; Support</a></strong>
        <p>
          <a href="#" class="external">Problems</a>
          <br />
          <a href="#" class="external">Suggestions</a>
        </p>
      </div>
      <div class="col-md-3" style="text-align: left">
        <strong>Follow us</strong>
        <p>
          <a href="https://github.com/openf1"><i class="fa fa-fw fa-github" style='color: white'></i> openf1</a>
          <!--
          <br />
	  <a href="https://twitter.com/openf1"><i class="fa fa-fw fa-twitter" style='color: rgb(85, 172, 238);'></i> @openf1</a>
	  -->
        </p>
      </div>
    </div>
  </div>
</footer>
