<footer class="stripe stripe-dark" id="footer">
  <div class="container">
    <div class="row">
    {% for group in site.data.footlinks %}
      <div class="col-md-3">
        <strong>
        {% if group.url %}<a href="{{ group.url }}" style="color: inherit">{% endif %}
	{{ group.title }}
        {% if group.url %}</a>{% endif %}
        </strong>
        <p>
	{% for item in group.items %}
	  <a href="{{ item.url }}">
	    {% if item.fa-icon %}
              {% if item.fa-icon-color== nil %}
	        {% assign fa-icon-color = "white" %}
	      {% else %}
	        {% assign fa-icon-color = item.fa-icon-color %}
	      {% endif %}
	      <i class="fa fa-fw fa-{{ item.fa-icon }}" style='color:{{ fa-icon-color }};'></i>
	    {% endif %}
	    {{ item.page }}
          </a>
          {% if forloop.last != true %}
	    <br />
	  {% endif %}
	{% endfor %}
        </p>
      </div>
    {% endfor %}
    </div>
  </div>
</footer>
