<header class="stripe stripe-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-push-6">
        {% assign figure = site.data.header['figure'] %}
        <figure style='padding-bottom: calc(300/553*100%); position: relative'>
          <img src="{{ figure.src }}" alt="{{ figure.alt }}" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%" />
        </figure>
      </div>
      <div class="col-sm-6 col-sm-pull-6">
        {% assign hero = site.data.header['hero'] %}
        <h1>{{ hero.title }}</h1>
        <p class="hero">
          {{ hero.text }}
        </p>
        {% for p in site.data.header['paragraph'] %}
          {{ p }}
        {% endfor %}
      </div>
    </div>
  </div>
</header>
