<nav class="navbar navbar-inverse navbar-fixed-top" style="top: 0px;">
  <div>
    <div class="container">
      <div class="navbar-group">
        <div class="navbar-header">
          <a id="logo" class="navbar-brand" href="https://openf1.github.io/">
            <img src="/assets/images/global/openf1-logo-white.png" alt="openf1" style="width: 30px; height: 32px;" />
	    &nbsp;<span class="hidden-sm hidden-xs">openf1</span>
          </a>
        </div>
        <div class="navbar-items">
          <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-right">
              <ul class="nav navbar-nav">
              {% for link in site.data.navlinks %}
                <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.name }}</a></li>
              {% endfor %}
              </ul>
            </div>
          </div>
          <div class="actions">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <i class="fa fa-bars"></i>
            </button>
	    <a href="{{ site.links.signup_url }}" class="btn btn-success btn-small">Sign Up</a>
	    <a href="{{ site.links.signin_url }}" class="account">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
            </a>
            <div class="tooltip">Sign in to your openf1 Account</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
