<script src="{{ "/assets/js/bootstrap/jquery-3.2.1.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/bootstrap/bootstrap-3.3.7.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/lib.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/site.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/popover-v1.js" | relative_url }}"></script>
<style>
  .media {
    display: inline-block;
    width: 202px;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 10px;
  }
  .media img {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
  }
</style>
<script src="{{ "/assets/js/featherlight-1.7.0.min.js" | relative_url }}"></script>
